
<div class="well">

<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row-fluid">
  <div class="offset1">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label "Join Date" %>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label "Leave date" %>
    <%= f.date_select :end %>
  </div>
 <br>
<div class="actions">  
    <%= f.submit %></button>
  </div>
</div>
</div>
<% end %>
