  <%= render 'teams/header' %>

<br><br>
<table class="table">
<tr>
    <th>Name</th>
    <th>Role</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.role %></td>
    <td><%= team.start.strftime("%d %B, %Y") %></td>
    <td><%= team.end.strftime("%d %B, %Y") %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<p>
  <button class="btn btn-small" type="button"><%= link_to 'Add to team', new_team_path %></button>

</p>

