<div class="well">

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row-fluid">
  <div class="offset1">
  <div class="field">
    <%= f.label :group %>
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :unitprice %>
    <%= f.number_field :unitprice %>
  </div>
  <div class="field">
    <%= f.label :itemcount %>
    <%= f.number_field :itemcount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div></div></div>
</div><% end %>
