    <%= render 'products/header' %>
<br>
<% @product_groups.each do |group, products| %>
<h2><%= group %></h2>
<table class="table table-condensed">
	  <tr>
    <th><h5 class="muted">Name</h5></th>
    <th><h5 class="muted">Size</h5></th>
    <th><h5 class="muted">Unitprice</h5></th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% products.each do |product| %>  
<tr>
    <td><%= product.name %></td>
    <td><%= product.size %></td>
<td><%= number_to_currency product.unitprice.to_f/100, unit: "£", seperator: ",", delimiter: ""  %>

    <td><%= link_to "Show", product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% end %>


<br />
<button class="btn btn-small" type="button"><%= link_to 'Add product', new_product_path %></button>


