  <%= render 'details/header' %>
<br>

	<% @details.each do |detail| %>

	<br />	
	<div class="container">
	      <div class="row-fluid">
	         <div class="span8">
	            <div class="list">
	               <!-- Add your phone number here -->
	               <div class="phone">
	                  <i class="icon-phone"></i>Phone:<b> <%= detail.phone %></b>
	               </div>
	               <hr />
	               <!-- Add your email id here -->
	               <div class="email">
	                  <i class="icon-envelope"></i> Email:<b> <%= detail.email %></b>
	               </div>
	               <hr />
	               <!-- Add your address here -->
	               <div class="address">
	                  <i class="icon-home"></i> Address: <b><%= detail.addr1 %>, <%= detail.addr2 %>, <%= detail.addr3 %>, <%= detail.postcode %></b>
	               </div>
				  <hr />
				 <!-- Add your website here -->
	               <div class="website">
	                  <i class="icon-arrow-right"></i> Website: <b><%= detail.url %></b>
	               </div>	  
				<hr />
				 <!-- Add your blurb here -->
	               <div class="blurb">
	                <i class="icon-star-empty"> </i> About Us: <b> <%= detail.blurb1 %></b>
	               </div>	  
				<hr />
							 <!-- Add your contact name here -->
				               <div class="contactname">
				               <i class="icon-user">   </i> Contact: <b> <%= detail.contactname %></b>
				               </div>	  
							<hr />
				
	            </div>
	         </div>
	      </div>
	<% end%>
	   </div>
	<br>
	<p>
	  <button class="btn btn-small" type="button"><%= link_to 'Edit Details', edit_detail_path(@details) %></button>

	</p>
		
	 
	