<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @detail.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @detail.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @detail.email %>
</p>

<p>
  <b>Url:</b>
  <%= @detail.url %>
</p>

<p>
  <b>Addr1:</b>
  <%= @detail.addr1 %>
</p>

<p>
  <b>Addr2:</b>
  <%= @detail.addr2 %>
</p>

<p>
  <b>Addr3:</b>
  <%= @detail.addr3 %>
</p>

<p>
  <b>Addr4:</b>
  <%= @detail.addr4 %>
</p>

<p>
  <b>Postcode:</b>
  <%= @detail.postcode %>
</p>

<p>
  <b>Blurb1:</b>
  <%= @detail.blurb1 %>
</p>

<p>
  <b>Blurb2:</b>
  <%= @detail.blurb2 %>
</p>

<p>
  <b>Contactname:</b>
  <%= @detail.contactname %>
</p>


<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
